.App {
  text-align: center;
}

#postList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:10px;
}

.post{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.post-title{
  height: 100px;
  text-overflow: ellipsis;
}


.post:hover{
  cursor: pointer;
}

.post:hover{
  transition: 0.8s;
  scale: 1.1;
}